@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Oswald&display=swap");

:root {
  --font: "Oswald", sans-serif;
  --header: "Fredericka the Great", cursive;

  --ltrSea: #00ffd5;
  --ltSea: #0ec7a8;
  --mdSea: #018f77;
  --dkSea: #036656;

  --background: url("https://www.transparenttextures.com/patterns/escheresque-dark.png")
      fixed,
    radial-gradient(at center, var(--ltSea), var(--dkSea));
}

* {
  margin: 0;
  font-family: var(--font);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #000;
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: var(--ltSea);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--dkSea);
}

/* HEADER */

.header {
  height: 100vh;
  position: relative;
  background: var(--background);
  z-index: 0;
}

.headerInner {
  display: block;
  width: fit-content;
  margin: auto;
  position: relative;
  top: 30vh;
  cursor: default;
  border-bottom: 1px dashed #fff;
}

#name {
  font-size: 8vw;
  font-family: var(--header);
  color: #fff;
  text-shadow: 2px 2px 0px #000;
  margin-bottom: -20px;
  transform: rotate(-5deg);
}

#webD {
  font-size: 50px;
  text-align: right;
  padding-right: 20px;
  color: #fff;
  letter-spacing: 5px;
  font-variant: small-caps;
}

@keyframes arrowBounce {
  from {
    bottom: 10px;
  }
  to {
    bottom: 20px;
  }
}
.arrowDwn {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 48vw;
  font-size: 40px;
  filter: drop-shadow(0px 5px 0px #000);
  transition: all 0.2s;
}
.header:hover .arrowDwn {
  animation-name: arrowBounce;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* BLURB */

.blurb {
  background: #fff;
  padding: 50px 0;
  text-align: center;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.8), 0px -3px 4px rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 1;
}

.github {
  font-size: 60px;
  color: var(--dkSea);
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
  pointer-events: all !important;
  transition: all 1s;
}
.github:hover {
  color: var(--ltSea);
}

#piece {
  display: block;
  width: 80vw;
  margin: 0 auto 20px;
  text-align: justify;
  cursor: default;
}

/* LANGUAGES */

.languages {
  display: flex;
  background: var(--background);
  padding: 50px 50px 40px;
  position: relative;
  text-align: center;
  z-index: 0;
}

.languages > div {
  width: 100%;
}

.sect {
  color: #fff;
  width: 35vw;
  margin: 0 auto 10px;
  font-family: var(--header);
  text-shadow: 2px 2px 0px #000;
  font-size: 40px;
  border-bottom: 1px dashed;
  cursor: default;
}

.sectDiv div {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
}
.sectDiv div:last-child {
  margin-right: 0;
}

svg {
  width: 45px;
  pointer-events: none;
  margin-bottom: 10px;
  filter: drop-shadow(1px 1px 1px #000);
}
#html,
.html {
  fill: #e66b06;
}
#css,
.css {
  fill: #008cff;
}
#js,
.js {
  fill: #ffff6c;
}
#php {
  fill: #8f63d6;
}
#webpack,
.webpack {
  fill: #2862ff;
}
#react,
.react {
  fill: #64edff;
}
#reactroute,
.reactroute {
  fill: #b92b2b;
}
#firebase,
.firebase {
  fill: #ffa500;
}
#heroku {
  fill: #8f45a5;
}
#vscode,
.vscode {
  fill: #006eff;
}
#npm,
.npm {
  fill: #c53737;
}
#yarn {
  fill: #4a99e2;
}
#git,
.git {
  fill: #db4a30;
}
#jasmine {
  fill: #9b519b;
}
#jest,
.jest {
  fill: #db4d34;
}
#prettier {
  fill: #adadad;
}
#eslint {
  fill: #4609a8;
}

/* PROJECTS */

.projects {
  background: #fff;
  padding: 50px 0;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.8), 0px -3px 4px rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 1;
}

.proj {
  display: flex;
  flex-direction: row;
  width: 90vw;
  min-height: 200px;
  margin: 0 auto 40px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 0px 4px #000;
}

.pic {
  width: 40%;
  background: blue;
  box-shadow: 0px 0px 4px #000;
  z-index: 1;
}
.desc {
  width: 60%;
  text-align: center;
  background: var(--background);
  cursor: default;
  padding: 10px;
  z-index: 0;
}

.desc div:nth-child(1) {
  color: #fff;
  font-family: var(--header);
  font-size: 35px;
  text-shadow: 1px 1px 0px #000;
  border-bottom: 1px dashed;
  width: 80%;
  margin: auto;
}

.desc div:nth-child(2) {
  text-align: justify;
  padding: 0 5px;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
}

.desc svg {
  width: 30px;
  margin-right: 10px;
}
.desc span {
  display: inline-block;
  height: 30px;
}

.desc div:nth-child(4) {
  display: flex;
  flex-direction: row;
}
.desc a {
  width: 50%;
  color: var(--ltSea);
  font-size: 20px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #000;
  transition: all 0.5s;
}
.desc a:hover {
  letter-spacing: 3px;
  color: var(--ltrSea);
}

.waldo > .pic {
  background: center/cover url("../images/waldo.png");
}
.waldo:hover > .pic {
  background: center/cover url("../images/waldo.gif");
}
.battleship:hover > .pic {
  background: center/cover url("../images/battleship.gif");
}
.battleship > .pic {
  background: center/cover url("../images/battleship.png");
}
.cart:hover > .pic {
  background: center/cover url("../images/shoppingCart.gif");
}
.cart > .pic {
  background: center/cover url("../images/shopping.png");
}
.memory:hover > .pic {
  background: center/cover url("../images/memCard.gif");
}
.memory > .pic {
  background: center/cover url("../images/memory.png");
}
.library:hover > .pic {
  background: center/cover url("../images/library.gif");
}
.library > .pic {
  background: center/cover url("../images/library.png");
}
.weather:hover > .pic {
  background: center/cover url("../images/weather.gif");
}
.weather > .pic {
  background: center/cover url("../images/weather.png");
}

/* EXPERIENCE */

.experience {
  background: var(--background);
  padding: 60px 100px 40px;
  display: flex;
  flex-direction: row;
  color: #fff;
  justify-content: space-between;
  position: relative;
  z-index: 0;
}

.half {
  width: 48%;
  display: flex;
  flex-direction: column;
}
.half div {
  display: flex;
  margin-bottom: 20px;
}

.faIcon {
  width: 70px;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}

.exBlurb {
  width: 60%;
  flex-direction: column;
  padding-left: 20px;
  text-shadow: 1px 1px 0px #000;
  cursor: default;
}
h1 {
  font-family: var(--header);
  font-weight: normal;
  text-shadow: 2px 2px 0px #000;
}
.exBlurb span {
  font-size: 15px;
}
.exBlurb a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.5s;
}
.exBlurb a:hover {
  color: var(--ltrSea);
}

/* SOCIALS */

#socials {
  text-align: center;
  padding: 20px 0;
  font-size: 50px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.8), 0px -3px 4px rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 1;
}

#socials a {
  margin-right: 5%;
  color: var(--dkSea);
  transition: all 0.5s;
}
#socials a:last-child {
  margin-right: 0;
}
#socials a:hover {
  color: var(--ltSea);
}

#footer {
  background: var(--background);
  text-align: center;
  padding-top: 10px;
  position: relative;
  z-index: 0;
}
#footer a {
  font-size: 60px;
  color: var(--ltSea);
  transition: all 0.5s;
}
#footer a:hover {
  color: var(--ltrSea);
}