@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Oswald&display=swap');

:root {
  --font: 'Oswald', sans-serif;
  --header: 'Fredericka the Great', cursive;

  --ltSea: #0ec7a8;
  --mdSea: #018f77;
  --dkSea: #036656;
}

* {
  margin: 0;
  font-family: var(--font);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #000;
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: var(--ltSea);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--dkSea);
}

/* HEADER */

.header {
  height: 100vh;
  position: relative;
  background: url("https://www.transparenttextures.com/patterns/escheresque-dark.png") fixed, radial-gradient(at center, var(--ltSea), var(--dkSea));
  z-index: 0;
}

.headerInner {
  display: block;
  width: fit-content;
  margin: auto;
  position: relative;
  top: 30vh;
  cursor: default;
  border-bottom: 1px dashed #000;
}

#name {
  font-size: 65px;
  font-family: var(--header);
  color: #fff;
  text-shadow: 2px 2px 0px #000;
  transform: rotate(-5deg);
}

#webD {
  font-size: 25px;
  text-align: center;
}

@keyframes arrowBounce {
  from {bottom: 10px}
  to {bottom: 20px}
}
.arrowDwn {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 48vw;
  font-size: 40px;
  filter: drop-shadow(0px 5px 0px #000);
  transition: all 0.2s;
}
.header:hover .arrowDwn {
  animation-name: arrowBounce;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* BLURB */

.blurb {
  background: #fff;
  padding: 50px 0;
  text-align: center;
  box-shadow: 0px 3px 4px rgba(0,0,0,0.8), 0px -3px 4px rgba(0,0,0,0.8);
  position: relative;
  z-index: 1;
}

.git {
  font-size: 60px;
  color: var(--dkSea);
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.4));
  transition: all 1s;
}
.git:hover {
  color: var(--mdSea);
}

#piece {
  display: block;
  width: 80vw;
  margin: 0 auto 20px;
  text-align: justify;
  cursor: default;
}

/* PROJECTS */

.languages {
  background: url("https://www.transparenttextures.com/patterns/escheresque-dark.png") fixed, radial-gradient(at center, var(--ltSea), var(--dkSea));
  padding: 50px;
  position: relative;
  z-index: 0;
}

.sect {
  color: #fff;
  font-family: var(--header);
  text-shadow: 2px 2px 0px #000;
  font-size: 40px;
}